@import "vendor/bootstrap.min.css";
@import "vendor/bootstrap-theme.min.css";

/* ------ Giveaway Links ------ */

body.giveaway-link {
  min-width: 760px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 2px;
}

img.logo {
  display: block;
  margin: 15px auto 10px auto;
}

.btn span.icon {
  display: inline-block;
  font-size: 18px;
  padding-left: 5px;
}

.giveaway,
.results {
  padding: 0 25px 18px 25px;
}

.giveaway .alert {
  margin-top: 15px;
}

.giveaway h4 {
  text-align: center;
  color: #3f92c7;
  margin-bottom: 20px;
}

.giveaway label {
  padding-top: 8px;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: normal;
}

.giveaway p {
  padding-top: 8px;
}

.giveaway .help-block {
  font-size: 13px;
  color: #999;
}

.giveaway .help-block em {
  display: inline-block;
  font-style: normal;
  padding: 1px 6px;
  margin: 0 3px;
  background: #dedede;
  border-radius: 4px;
  color: #555;
  font-size: 11px;
  font-family: "monaco", monospace;
}

.giveaway .generate {
  text-align: left;
  padding-bottom: 12px;
}

.results table {
  font-size: 13px;
  background: #fff;
}

.results table th.highlight {
  text-align: center;
  background: #fff;
  text-transform: none;
  color: #555;
  font-size: 13px;
}

.results table thead th {
  font-weight: normal;
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 0;
  background: #eee;
  line-height: 1;
}

.results table td:first-child {
  text-transform: lowercase;
}

/* ------ Options ------ */

body.options {
  background: #fff;
  padding: 25px 30px;
}

body.options .wrapper {
  max-width: 600px;
}

body.options p {
  padding: 15px 0;
}